# Lab Assignment 1 -- Fundamentals
In this lab, you will complete a series of exercises related to the lecture material on coding fundamentals and collections.

Since this is the first lab that involves coding, we will begin with an exercise related to Jupyter notebook functionality.

## Exercise 1 -- Jupyter Markdown Basics
Jupyter notebooks allows cells to be interpreted as either code or Markdown. Markdown is a lightweight formatting language. In fact, what you're reading right now is written in Markdown. The syntax is very simple and a reference for common commands can be found [here](https://www.markdownguide.org/cheat-sheet/). Use this reference guide to complete the following steps:

1. Create a cell below this one by using the insert drop down menu or by clicking on the left of this box (so the side bar turns blue) and tapping the <kbd>b</kbd> key.
2. Make the cell a Markdown cell by clicking on it and using the drop down menu above.
3. Using the reference guide, find out how to create the **smallest** heading  and use it give the cell you create a header of "Solution to Exercise 1" without the quotes.
4. Using the reference guide, figure out how to make ordered and unordered lists. Using an unordered list, list three of the things you hope to learn from this class.
5. Sometimes, we want to reference specific code or code objects in the text of Markdown. Markdown allows us to format such reference so that it appears in a gray box (e.g. `x=3`). Using the reference guide, figure out how to format code and format  x = 3, so it has a gray box around it in the cell you created.

######Solution to Exercise 1
- Learn what and how basic python works
- Learn how to deal with datasets
- Learn how to propose a project with datas

`x = 3`

Highlighted x=3 seems like `x = 3`

## Exercise 2 -- Basic Variable Assignment
Complete the following steps in the cells below.
1. Generate a variable called `x_flt` and set it equal to 3.0. Print its type.
2. Generate a variable called `x_int` and set it equal to 3. Print its type.
3. Generate a variable called  `x_str` and set it equal to "3". Print its type.
4. Which of these two variables can you add together with the `+` operator? Why? Answer in the Markdown cell below.

In [6]:
# Exercise 2 Code
x_flt=3.0
x_int=3
x_str="3"
print(x_flt)
print(x_int)
print(x_str)

3.0
3
3

### Response to 2.4

`x_flt` can be added together with `x_int`, but cannot be added together with `x_str`.

Because `x_flt` and `x_int` are different types from `x_str`.

## Exercise 3 -- Variable Reassignment
Complete the following steps in the cells below.
1. Assign `x` equal to `"good"`
2. Assign `y` equal to `x`
3. Reassign `x` to `"bad"`
4. Use `print` to print `y`
5. Does the print statement print "good" or a "bad"? Did changing `x` to "bad" affect anything? Why or why not? Answer in the Markdown cell below.

In [12]:
from re import X
# Exercise 3 Code
x = "good"
y = x
x = "bad"
print(y)

good

### Response to 3.5

Here y is still good. Because in this block, `x` is firstly assigned as "good", and `y` is firstly assigned as `y=x`. Although `x` is reassigned as "bad" in the next line, `y` has not been reassigned, so `y` is still assigned as `y = x = bad`.

## Exercise 4 -- Basic Arithmetic
Generate the following variables with the corresponding value in the cell below:
1. `x` equal to 20
2. `y` equal to 10
3. `z1` equal to the sum of `x` and `y`
4. `z2` equal to `x` minus `y`
5. `z3` equal to `x` times `y`
6. `z4` equal to `x` divided by `y`

Answer the following question in the Markdown Cell Below

7. Use `type()` to deterimine which of these variables is a floating point number? Why is this the case?

In [19]:
# Exercise 4 Code
x = 20
y = 10
z1 = x + y
z2 = x - y
z3 = x * y
z4 = x / y
print(z1)
print(z2)
print(z3)
print(z4)

30
10
200
2.0

In [20]:
print(type(x))
print(type(y))
print(type(z1))
print(type(z2))
print(type(z3))
print(type(z4))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

### Response to 4.7

`z4` is a floating point number. Calculations in `z1`, `z2`, `z3` are doing between indexes. But in Python, the / operator always performs floating-point division, even if the operands are integers and the result is a whole number.

## Exercise 5 -- String Formatting
Complete the following steps in the cell below:
1. Define a list called `cities` that contains the names of three cities you would like to visit.
2. Define a corresponding list called `countries` where an entry is the country of each of those three cities.
3. Using these lists and f strings, print a sentence that says what country a city is in for each city in your list
4. Now do the same thing again but use the `.format()` method instead of f strings.

In [23]:
# Exercise 5 Code
city = ["Vancouver", "Tokyo", "London"]
country = ["Canada", "Japan", "England"]
string_1 = ""
for c, ctr in zip(city, country):
    string_1 += f"{c} is in {ctr}\n"
print(string_1)

Vancouver is in Canada
Tokyo is in Japan
London is in England

In [20]:
city = ["Vancouver", "Tokyo", "London"]
country = ["Canada", "Japan", "England"]
string_2 = ""
for c, ctr in zip(city, country):
    string_2 += "{} is in {}\n".format(c, ctr)
print(string_2)

Vancouver is in Canada
Tokyo is in Japan
London is in England

## Exercise 6 -- String Concatenation
Complete the following steps in the cell below:
1. Assign `b` to be equal to "b"
2. Assign `a` to be equal to "a"
3. Assign `n` to be equal to "n"
4. Using these variables, `+`, and `print`, print the the word "banana"

In [5]:
# Exercise 6 Code
b = "b"
a = "a"
n = "n"
print(b + a + n + a + n + a)

banana

## Exercise 7 -- Boolean Variable Keywords
Assign `a`, `b`,`c`, and `d`, so that every print statement below is true.


Afterwards, answer the following quesiton in the Markdown cell below:

Is the configuration of `a`, `b`,`c`, and `d` that makes both statements true unique? Why or why not? If it isn't unique, add another print statement to the list to rule out other configurations?

In [18]:
# Exercise 7 Code
a = True
b = False
c = False
d = False

In [19]:
# Uncomment the lines below when you have defined the variables to check your results
print(((a and b) or (c and d)) == False)
print(((a or c) and (b or d)) == False)
print(a and (not b) and (not c) and (not d))

True
True
False

If we want to make all the statements true, the configuration of `a`, `b`, `c`, and `d` is unique.

For the first line, to make it true, `(a and b) or (c and d)` has to be false.
For the next line, to make it true, `(a or c) and (b or d)` has to be false too.
And for the last line, to make it true, `a and (not b) and (not c) and (not d)` has to be true.

To make all these statements true, the configurations has to be unique.